.form-btn {
  width: 100%;
  padding: 14px 11px;
  background-color: var(--dark-color);
  border: none;
  outline: none;
  border-radius: 4px;
  color: var(--light-color);
  font-size: 1.75rem;
  cursor: pointer;
}

.form-btn:hover,
.form-btn:focus {
  opacity: 0.85;
}

.form-btn:focus {
  outline: 2px solid #746c02;
}

.form-btn:active {
  opacity: 0.9;
}
