.form {
  width: 300px;
  margin: 0 auto;
  animation: fadeIn 1.5s ease-in forwards;
}

@media all and (min-width: 25em) {
  .form {
    padding: 15px 20px 30px 20px;
    box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
}
